@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    word-break: inherit;
  }
  :root {
    word-break: keep-all;
  }

  .text-shadow {
    text-shadow: 5px 5px 11px rgba(0, 0, 0, 0.25);
  }

  .contact {
    @apply inline-block after:relative after:top-[2px] after:mx-2 after:inline-block after:h-[15px] after:w-[2px] after:bg-darkgray;
  }
  .contact:not(:first-child) {
    @apply mt-[6px];
  }

  .section-main {
    @apply mb-2 border-t border-gray p-5;
  }

  .section-vertical-separator {
    @apply md:relative md:ml-5 md:before:absolute md:before:left-[-10px] md:before:top-0 md:before:h-full md:before:w-[1px] md:before:bg-gray;
  }
  .title-pri {
    @apply mt-4 mb-3 text-xl font-bold text-blue2;
  }
  .title-sec {
    @apply text-lg font-semibold text-black;
  }
  .title-sec em {
    @apply my-1 block text-sm font-normal text-zinc-500;
  }

  .stack-wrapper {
    @apply my-7;
  }

  .stack-badge {
    @apply whitespace-nowrap rounded-full py-[1px] px-[6px] text-[12px] shadow;
  }
  .stack-badge-list-wrapper {
    @apply flex flex-wrap gap-3 font-mono;
  }
  .alarm-badge {
    @apply inline-block h-4 w-4 rounded-full bg-red-400 text-center not-italic  leading-4 text-white;
  }

  .title-with-time-wrapper {
    @apply flex items-center justify-between gap-x-3;
  }
  .time {
    @apply whitespace-nowrap text-sm font-light text-textgray;
  }
  .time-ongoing {
    @apply after:mx-1 after:inline-block after:content-['~'];
  }

  .link {
    @apply px-1 text-blue4 hover:rounded hover:bg-blue3 hover:text-smokewhite hover:transition-all;
  }
  .link-github {
    @apply relative ml-5 before:absolute before:top-1 before:left-[-18px] before:h-[17px] before:w-[17px] before:bg-[url('../img/icon-github.svg')];
  }
  .link-separator {
    @apply relative after:absolute after:top-[5px] after:right-[-9px] after:mx-2 after:inline-block after:h-[15px] after:w-[1px] after:bg-blue4;
  }
  .link-nomargin {
    @apply ml-[-4px];
  }

  .description-list,
  .description-list ul {
    @apply ml-6 list-disc;
  }
  .description-list li {
    @apply mt-1 text-[0.95rem];
  }

  .description-list-small {
    @apply !mt-[5px] !mb-[10px];
    font-weight: 300;
  }
  .description-list-small li {
    @apply !my-[2px];
  }

  .item-list {
    @apply mt-2 mb-7;
  }
  .item-list li {
    @apply my-3;
  }
  .item-description {
    @apply text-[0.95rem];
  }

  .code-box {
    @apply text-[0.9rem] text-yellow-600;
  }

  /* Stack Badge Color */
  .stack-js {
    @apply bg-[#f0db4f40];
  }
  .stack-ts {
    @apply bg-[#007acc40] text-[#007acc];
  }
  .stack-react {
    @apply bg-[#61DBFB40];
  }
  .stack-redux {
    @apply bg-[#764abc40] text-[#764abc];
  }
  .stack-recoil {
    @apply bg-[#286DDB40] text-[#286DDB];
  }
  .stack-next {
    @apply bg-[#0000006e] text-white;
  }
  .stack-flutter {
    @apply bg-[#042B5940] text-[#042B59];
  }
  .stack-cypress {
    @apply bg-[#c36a8e40] text-[#c36a8e];
  }
  .stack-html {
    @apply bg-[#e34c2640] text-[#e34c26];
  }
  .stack-css {
    @apply bg-[#264de440] text-[#264de4];
  }
  .stack-sass {
    @apply bg-[#cc669940] text-[#cc6699];
  }
  .stack-bootstrap {
    @apply bg-[#563d7c40] text-[#563d7c];
  }
  .stack-tailwind {
    @apply bg-[#39bcf740] text-[#39bcf7];
  }
  .stack-styledcomponents {
    @apply bg-[#de5baa40] text-[#de5baa];
  }
  .stack-django {
    @apply bg-[#092e2040] text-[#092e20];
  }
  .stack-node {
    @apply bg-[#68A06340] text-[#68A063];
  }
  .stack-python {
    @apply bg-[#FFD43B40] text-[#FFD43B];
  }
  .stack-postgres {
    @apply bg-[#33679140] text-[#336791];
  }
  .stack-firebase {
    @apply bg-[#FFA61140] text-[#FFA611];
  }
  .stack-aws {
    @apply bg-[#FF990040] text-[#FF9900];
  }
  .stack-figma {
    @apply bg-[#67a19340] text-[#67a193];
  }
  .stack-illustrator {
    @apply bg-[#945c0440] text-[#945c04];
  }
  .stack-git {
    @apply bg-[#F1502F40] text-[#F1502F];
  }
  .stack-discord {
    @apply bg-[#7289DA40] text-[#7289DA];
  }
  .stack-gather {
    @apply bg-[#4155d040] text-[#4155d0];
  }

  .fixed-button {
    @apply fixed bottom-8;
  }
  .point-up-emoji,
  .printer-emoji {
    @apply flex items-center rounded-full p-3 font-medium shadow-xl backdrop-blur-sm transition-all delay-75 hover:text-smokewhite hover:backdrop-brightness-90;
  }
}

@media print {
  @page {
    size: A3;
    margin: 1cm 0 0 0;
  }

  .text-shadow {
    text-shadow: none;
  }
}

@layer components {
  .section-main:first-child {
    @apply print:absolute print:top-8 print:right-0 print:rounded-md print:border-[1px] print:bg-white;
  }

  .section-main:not(:first-child) {
    @apply print:p-2 print:pb-4;
  }

  .section-main:not(.project) {
    @apply print:break-inside-avoid;
  }

  .section-main article {
    @apply print:break-inside-avoid;
  }

  .title-pri {
    @apply print:mb-1;
  }

  .stack-badge {
    @apply print:px-[7px] print:shadow-none;
  }

  .alarm-badge {
    @apply print:h-4 print:w-4 print:leading-4;
  }

  .point-up-emoji,
  .printer-emoji {
    @apply print:hidden;
  }

  .stack-grid {
    @apply print:grid print:grid-cols-2 print:gap-x-3;
  }
  .stack-wrapper {
    @apply print:my-3;
  }
}

.fixed-button .point-up-emoji::before,
.fixed-button .printer-emoji::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.fixed-button .point-up-emoji::before {
  background: url(../img/button-sprites.webp) -10px -10px;
}
.fixed-button .printer-emoji::before {
  background: url(../img/button-sprites.webp) -50px -10px;
}
